@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack1';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Silkscreen-Regular.ttf);
  display: swap;
}


* {
  font-family: 'Hack', monospace;
  box-sizing: border-box
}


html,
body {
  height: 100%;
  overflow: hidden;
}
body > div:first-child, 
div#__next {
  height: 100%;
  overflow: hidden;

}

div#__next > div {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ebdbb2;
}

::-webkit-scrollbar-thumb:hover {
  background: #f3cd6e;
}

/* Dark mode scrollbar */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #2d3748; /* Tailwind gray-800 */
  }

  ::-webkit-scrollbar-thumb {
    background: #4a5568; /* Tailwind gray-700 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3f4d65; /* Tailwind gray-800 */
  }
}
.banner {
  font-size: 6rem;
  font-family: 'Hack1';
  word-spacing: -10px;
  letter-spacing: -10px;
}

/* * {
  border: 1px solid black !important;
} */
/* #image:hover {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 99% 96%, 0% 100%);
}
#image:hover+img {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 96% 86%, 0% 100%);
}

#gear {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 88% 89%, 0% 100%);
}
#gear:hover {
  clip-path: polygon(100% 100%, 100% 0, 100% 40%, 83% 82%, 0% 100%);
  
}
*/
#parent:hover > #image {
  transition: clip-path 0.5s ease-in-out;

} 


